<div class="modal fade" id="adfhsdgfh" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        
        <p> 
        <%= radio_button_tag :roll_type,  "admin" %> Admin
        </p>

        <p> 
        <%= radio_button_tag :roll_type,  "user" %>User
        </p>

       <p>
       <%= button_to "Next", new_registration_path(resource_name), :method=> "get", :form_class => "my_class" %>
       </p> 
      
      <hr/> 
        

<% if params[:role_type]== nil %>

<%= link_to "Admin", new_registration_path(resource_name, role_type: "admin" ) %><br />

 <%= link_to "User", new_registration_path(resource_name, role_type: "user" ) %><br />
<%# @a= params[:user][:roll_type] %>
<% else %>
<%= render "form", role_type: @a %>

 <%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
          
        <%# end -%>
<%end%>


   </div>   
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        Close
        </button>
      </div>
    </div>    
  </div>
</div>
</div>