<p id="notice"><%= notice %></p>

<h1>My Admins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_admins.each do |my_admin| %>
      <tr>
        <td><%= my_admin.name %></td>
        <td><%= my_admin.age %></td>
        <td><%= link_to 'Show', my_admin %></td>
        <td><%= link_to 'Edit', edit_my_admin_path(my_admin) %></td>
        <td><%= link_to 'Destroy', my_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Admin', new_my_admin_path %>
