<p>
  <strong>Name:</strong>
  <%= best_in_place @vehicle, :name %>
  <%#= @vehicle.name %>
</p>

<p>
  <strong>Vehicle No.:</strong>
  <%= best_in_place @vehicle, :vno %>
  <%#= @vehicle.vno %>
</p>


<p>
  <strong>Vehicle Cost</strong>
  <%= best_in_place @vehicle, :cost %>
  <%#= @vehicle.cost %>	
</p>

<p>
  <strong>Vehicle Seater</strong>
  <%= best_in_place @vehicle, :seater %>
  <%#= @vehicle.seater %>	
</p>

<p>
  <strong>Vehicle Fuel Type</strong>
  <%= best_in_place @vehicle, :vno %>
  <%#= @vehicle.fueltype %>	
</p>

<p>
  <strong>Vehicle Image</strong>

  <% @images_urls.each do |g| %>

    <%= image_tag(g, size: "16x10")  %> 
  <% end %>
  <%#= @my_images.name %> 
</p>




<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
